<div class="login">
  <form action="/auth/login" method="POST" id='signup-form'>
    <h2>
      login
    </h2>
    <input type="text" name='username' placeholder="Username">
    <input type="password" name='password' placeholder='Password'>
    <button type="submit">
      Login
    </button>
  </form>
</div>