<div id="login">
  <img src="/images/google.png" alt="coffee shop">
  <img src="/images/facebook.png" alt="coffee shop">
  <h2 class='testing-h2'><span class='testing-span'>or</span></h2>
  <form action="/auth/login" method="POST" id='login-form'>
    <h3>
      login
    </h3>
    <input type="text" name='username' placeholder="Username">
    <input type="password" name='password' placeholder='Password'>
    <button type="submit">
      Login
    </button>
  </form>
</div>