<div class="footerContainer">
  <div class="footCol">
    <h2>Contacts</h2>
    <p>+31 (0) 6 58736305</p>
    <p>hello@spesu.com</p>
    <p>Prinsengracht 437</p>
    <p>1016 HM Amsterdam</p>
  </div>
  <div class="footColRow">
    <div class="siteMap">
      <a href="/spaces">Spaces</a>
      <a href="/auth/login">login</a>
      <a href="/auth/signup">Sign Up</a>
    </div>
    <div>
      <img src="/images/facebook-icon.png" alt="Facebook">
      <img src="/images/instagram-icon.png" alt="Instagram">
      <img src="/images/twitter-icon.png" alt="Twitter">
    </div>
  </div>
</div>