<div class="indexColumn coverBackground">
  <div class="indexColumn2">
    <h1 class="indexTitleColor">Spēsu</h1>
    <p class="indexTextColor">Transforming restaurants & hotels into flexible coworking spaces</p>
    <div class="searchColRow">
      <form action="/spaces" method="get" class="indexForm">
        <input class="indexInput" type="text" name="location" placeholder="Search for an empty table">
      </form>
      <button class="indexButton" type="submit"><a href="/spaces">Search</a></button>
    </div>
  </div>
</div>

<div class="indexColumn whySpesuHeight">
  <h2>Why Spēsu</h2>
  <div class="indexColRow whySpesu marginLR">
    <div class="indexColumn whySpesuWidth">
      <img src="https://inhance.life/wp-content/uploads/2019/02/happy-face-gris.png">
      <h3>Flexibility</h3>
      <p>Access to a workspace where you are, when you need</p>
    </div>
    <br>
    <div class="indexColumn whySpesuWidth">
      <img src="https://inhance.life/wp-content/uploads/2019/02/happy-face-gris.png">
      <h3>Best Locations</h3>
      <p>Over 2 restaurants, hotels & bars in the city center</p>
    </div>
    <br>
    <div class="indexColumn whySpesuWidth">
      <img src="https://inhance.life/wp-content/uploads/2019/02/happy-face-gris.png">
      <h3>Membership Perks</h3>
      <p>Dining and lifestyle perks to make sure you treat yourself</p>
    </div>
  </div>
</div>