<div class="indexColumn">
  <img class="indexImg" src="/images/working-cafe.jpg" alt="">
  <div class="indexColumn2">
    <h1>Flexible work space is no longer a dream</h1>
    <p>Over 150 flexible working spaces in the city</p>
    <form action="/location" method="POST" class="indexForm">
      <input class="indexInput" type="text" name="location" placeholder="Search for an empty table">
      <button class="indexButton" type="submit">Search</button>
    </form>
  </div>
</div>