<div class="spaceMarginTop">
  <form id="place-form" action="/spaces/create" method="POST" enctype="multipart/form-data">
    <h2>List your space</h2>
    <input type="text" name="name" placeholder="Name of your space">

    <select name="location">
      <option>Amsterdam Centraal</option>
      <option>Zuidas</option>
      <option>Da Wallen</option>
      <option>De Pijp</option>
      <option>Oost</option>
    </select>
    <input type="text" name="description" placeholder="Descript your space">

    <label>Upload an image of your space:</label>
    <input type="file" name="spaceImage">
    <input hidden type="text" name="id" value="{{user._id}}">
    <button id="formSubmit" type="submit">List Your Space</button>
  </form>
  <div id='map' style='width: 400px; height: 300px;'></div>
</div>

<script>

  mapboxgl.accessToken = "{{{MAP_BOX_API_KEY}}}";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [4.84587, 52.342144],
    zoom: 13
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  }));

  var placeForm = document.getElementById("place-form")
  placeForm.addEventListener("submit", function (e) {
    e.preventDefault()
    var formData = new FormData(placeForm)

    var location = document.querySelector(".mapboxgl-ctrl-geocoder--input")
    formData.append('address', location.value)

    axios({
      method: 'post',
      url: `{{{BASEURL}}}/spaces/create`,
      data: formData,
      config: { headers: { 'Content-Type': 'multipart/form-data' } }
    })
      .then(function (response) {
        //handle success
        debugger
        window.location.href = `/spaces/${response.data.spaceId}`
        console.log(response);
      })
      .catch(function (response) {
        //handle error
        debugger
        console.log(response);
      });
  })

</script>