{{!-- space-details.hbs --}}
<div>
  <img src="{{space.image}}" alt="Cafe">
  <h1>{{space.name}}</h1>
  <p>Location:{{space.location}}</p>
  <p>Description: {{space.description}}</p>
  <button><a href="/book">Book Now</a></button>
</div>