<div class="space-crreate-container">
  <form id="place-form" action="/spaces/create" method="POST" enctype="multipart/form-data">
    <h2>List your space</h2>
    <input class='space-form-input' type="text" name="name" placeholder="Name of your space">
    <select name="start">
      <option>7:00</option>
      <option>8:00</option>
      <option>9:00</option>
      <option>10:00</option>
      <option>11:00</option>
      <option>12:00</option>
      <option>13:00</option>
      <option>14:00</option>
      <option>15:00</option>
      <option>16:00</option>
      <option>17:00</option>
      <option>18:00</option>
      <option>19:00</option>
      <option>20:00</option>
      <option>21:00</option>
    </select>

    <select name="end">
      <option>7:00</option>
      <option>8:00</option>
      <option>9:00</option>
      <option>10:00</option>
      <option>11:00</option>
      <option>12:00</option>
      <option>13:00</option>
      <option>14:00</option>
      <option>15:00</option>
      <option>16:00</option>
      <option>17:00</option>
      <option>18:00</option>
      <option>19:00</option>
      <option>20:00</option>
      <option>21:00</option>
    </select>
    <label style="margin:15px 15px;">search for the address</label>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <textarea class='space-form-textarea' rows="4" cols="50" name='description'
      placeholder="Descript your space"></textarea>

    <label>Upload an image of your space:</label>
    <input style="margin:15px 15px;" type="file" name="spaceImage">
    <input hidden type="text" name="id" value="{{user._id}}">
    <button id="formSubmit" type="submit">List Your Space</button>
  </form>
</div>

<script>

  mapboxgl.accessToken = "{{{MAP_BOX_API_KEY}}}";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [4.84587, 52.342144],
    zoom: 13
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  }));

  var placeForm = document.getElementById("place-form")
  placeForm.addEventListener("submit", function (e) {
    e.preventDefault()
    var formData = new FormData(placeForm)

    var location = document.querySelector(".mapboxgl-ctrl-geocoder--input")
    formData.append('address', location.value)

    axios({
      method: 'post',
      url: `{{{BASEURL}}}/spaces/create`,
      data: formData,
      config: { headers: { 'Content-Type': 'multipart/form-data' } }
    })
      .then(function (response) {
        //handle success
        debugger
        window.location.href = `/spaces/${response.data.spaceId}`
        console.log(response);
      })
      .catch(function (response) {
        //handle error
        debugger
        console.log(response);
      });
  })

</script>