.paper {
  border-top: 1px solid #D9EBE9;
  margin-top: 10px;
}

.confirmMainTitle {
  font-size: 1.5rem;
  color: #484848;
}

.paper span {
  font-weight: bold;
}
.paper h3 {
  font-size: 1.1rem;
  color: #484848;
  font-weight: 100;
}

.paper strong, p {
  color: #484848;
}

.paper img {
  width: 100%;
}
 .confirmColRow {
  display: flex; 
  flex-direction: column;
 }

 .confirmBtn {
   border-radius: 5px;
   color: white;
   background: #0FB6A8;
   padding: 5px 10px;
   font-size:1rem;
   border: none;
 }
 .confirmBox {
     margin: 0 0;
     height: 25vh;
}

.confirmImg {
  margin: 6vh 0;
}

 @media (min-width:767px) and (max-width:961px) {
   .confirmColRow {
     flex-direction: row;
   }

   .confirmBox {
     margin: 5px 0;
     width: 100vw;
   }

   .confirmImg {
     height: 50vh;
     margin: 20px 0;
   }
   
   .confirmCover {
     width: 40vw;
     object-fit: cover;
   }

 }

 @media (min-width: 768px) and (max-width: 1050px) {
  .confirmColRow {
    flex-direction: row;
  }

  .confirmBox {
    margin: 5px 0;
    width: 100vw;
  }

  .confirmImg {
    height: 70vh;
    margin: 20px 0;
  }
  
  .confirmCover {
    width: 40vw;
    object-fit: cover;
  }
 }

 @media (min-width: 1051px) {
  .confirmColRow {
    flex-direction: row;
  }

  .confirmBox {
    margin: 5px 0;
    min-width: 460px;
  }

  .confirmImg {
    height: 70vh;
    margin: 20px 0;
  }
  
  .confirmCover {
    width: 40vw;
    object-fit: cover;
  }
 }