#signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px;
}

#signup-form input {
  border: 1px grey solid;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  text-indent: 10px;
  width: 400px;
  align-self: center;
}

#signup-form button {
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 5px;
  background: #0fb6a8;
  color: white;
  font-weight: bold;
  border: none;
}

#login {
  display: flex;
  width: 100vw;
  height: 100wh;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;

}

#login-form input {
  border: 1px grey solid;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  text-indent: 10px;
  width: 80%;
  align-self: center;
}

#login-form button{
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 5px;
  background: #0fb6a8;
  color: white;
  font-weight: bold;
  border: none;
}

.signup-container{
  display: flex;
  display: flex;
  width: 100vw;
  height: 100wh;
  justify-content: center;
}

#login img{
  width: 220px;
  margin:10px 0px;
}

.testing-h2 { 
  width: 400px; 
  text-align: center; 
  border-bottom: 1px solid grey; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  opacity: 0.7;
} 

.testing-span { 
   background:#fff; 
   padding:0 10px; 
}