
.indexImg {
  width: 100vw;
  height: auto; 
  opacity: 0.8;
  z-index: -1;
}

.coverBackground {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("https://i.pinimg.com/originals/29/20/dc/2920dc62d18471278ed6f9254a580c62.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.indexColumn, .indexColumn2, .indexForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexColumn2 {
  width: 90vw; 
  height: 80vh;
  align-items: flex-start;
  margin-top: 27vh;
}


.indexTextColor {
  color: white;
  font-size: 1.3rem;
  font-weight: 100;
}

.indexForm {
  width: 90vw; 
  height: 15vh;
  align-items: center;
  justify-content: space-evenly;
}
.indexButton {
  width: 90vw;
  height: 5vh;
  background: #0FB6A8;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.indexInput {
  width: 90vw;
  height: 5vh;
  border: #EDF5F4 solid 1px;
  border-radius: 5px;
  text-indent: 10px;
}

.indexTitleColor{
  font-size: 4rem;
  color:  #0FB6A8;
  margin: 20px 0 10px 0;
  
}

.indexWhiteBack {
  width: 100%;
}

.whySpesu h2 {
  color: #484848;
  font-size: 1.5rem;
}

.whySpesu h3 {

}

.whySpesu img {
  width: 50px;
}

.whySpesu div {
  max-width: 50vw;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

br {
  color: #484848;
}