.nav-bar {
  position: fixed;
  top: 2vh;
  left:0;
  height: 60px;
  width: 100vw;
  display: flex;
  border: none;
  justify-content: space-between;
  background:none;
}

.nav-login {
  display: flex;
  width: 400px;
}

.logIn, .signUp {
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: 100%;
}
.logIn {
  color:#0FB6A8;
}
.signUp {
  background:#0FB6A8;
  color: white;
  border-radius: 5px;
}

 .signUp:hover {
  color:#0FB6A8;
  background:white;
  transition: 0.4s;
}

.logIn:hover {
  color: #D0DCD7;
}

.logo {
  width: 10vw;
  height: auto;
  margin: 0 0 0 1.5vw;
}

.signUpBtn {

}