.spacesColumn {
  display: flex;
  flex-direction: column;
}

.spacesRow {
  display: flex;
  flex-direction: row;
  width:90vw;
}

.spacesRow img {
  width: 50%;
  height: auto;
}

.spaceDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}

.spaceDetails img {
  width: 100%;
  height: auto;
}



