
.profilePicture {
  border-radius: 50%;
  width: 40vw;
  border: #EDF5F4 solid 2px;
}

.profileColumn, .profileColumn1 {
  display: flex;
  flex-direction: column;
}

.profileColumn1 {
  align-items: center;
}
.profileColumn {
  align-items: center;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 90px;
}


.profileColumn h1{
  text-transform: uppercase;
  color: #0FB6A8;
}

.profileBackground {
  background: linear-gradient(#D1F2EE 20%, white 20%);
  left: 0;
}

.profileColumn1 img {
  margin: 0 2vw;
}

.proButtons {
  border: #EDF5F4 solid 1px;
  border-radius: 20px;;
  width: 70vw;
  height: 10vw;
  background: #0FB6A8;
  margin: 0 2vw;
}

.proButtons a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profileBooked {
  margin: 10px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.profileBookedBox {
  width: 100%;
  margin: 0 0 10px 0;
  box-shadow: 1px 1px 5px #EDF5F4;
  border: solid 1px #EDF5F4;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
}

.profileBookedBox img {
  height: 140px;
  margin: 0;
}

.profileCover {
  width: 40%;
  object-fit: cover
}

.profileBookedColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profileBookedBox h2 {
  font-size: 1rem;
  margin: 0 0 0 5px;
  color: #484848;
}

.profileBookedBox h3 {
  font-size: 0.8rem;
  margin: 0 0 0 5px;
  color: #484848;
}

.yourSpaceBox {
  width: 30%;
  box-shadow: 1px 1px 5px #cdcdcd;
}

.yourSpaceBox img {
  width: 100%;
}

.yourSpaceBox h2 {
  color: #484848;
  font-size: 1rem;
}

.yourSpaceBox h3 {
  color: #484848;
  font-size: 0.8rem;
}

@media (min-width: 500px) {

  .profileBackground {
    background: linear-gradient(#D1F2EE 220px, white 220px);
    left: 0;
  }

}
