.indexImg {
  width: 100vw;
  height: auto;
  opacity: 0.8;
  z-index: -2; }

.coverBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.pinimg.com/originals/29/20/dc/2920dc62d18471278ed6f9254a580c62.jpg");
  width: 100vw;
  height: 90vh;
  background-blend-mode: darken; }

.indexColumn, .indexColumn2, .indexForm, .indexColRow {
  display: flex;
  flex-direction: column;
  align-items: center; }

.indexColumn2 {
  width: 90vw;
  height: 80vh;
  align-items: flex-start;
  margin-top: 27vh; }

.indexTextColor {
  color: white;
  font-size: 1.3rem;
  font-weight: 100; }

.indexTitleColor {
  font-size: 4rem;
  color: #0FB6A8;
  margin: 20px 0 10px 0; }

.indexWhiteBack {
  width: 100%; }

.whySpesu h2 {
  color: #484848;
  font-size: 1.5rem; }

.whySpesu img {
  width: 50px; }

.whySpesu div {
  max-width: 50vw;
  display: flex;
  text-align: center;
  margin-bottom: 10px; }

br {
  color: #484848; }

.searchColRow {
  display: flex;
  flex-direction: column; }

.indexForm {
  width: 90vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0; }

.indexButton {
  width: 90vw;
  height: 5vh;
  background: #0FB6A8;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold; }

.indexButton a {
  text-decoration: none;
  color: white; }

.indexInput {
  width: 90vw;
  height: 5vh;
  border: #EDF5F4 solid 1px;
  border-radius: 5px;
  text-indent: 10px; }

@media (min-width: 767px) {
  .indexColRow {
    flex-direction: row; }
  .searchColRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw; }
  .indexForm {
    width: 60vw; }
  .indexInput {
    width: 60vw; }
  .indexButton {
    width: 25vw; } }

@media (min-width: 767px) and (max-width: 961px) {
  .indexColumn2 {
    margin: 27vh 10vw 0 10vw; } }

@media (min-width: 962px) {
  .indexColumn2 {
    margin: 27vh 30vw 0 30vw; } }

.spaceMarginTop {
  padding-top: 80px; }

.spaceMarginTop h1 {
  margin: 10px 0 0 0; }

.spacesColumn {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.spacesBoxColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  color: #484848; }

.marginLeft {
  margin: 0 0 0 15px; }

.spacesBox p, button {
  margin: 2px 0; }

.spacesBox h3 {
  margin: 1vh 0 1vh 0;
  font-size: 1.2rem; }

.spacesBox {
  display: flex;
  flex-direction: row;
  width: 92vw;
  height: auto;
  margin: 0 0 20px 0;
  border: solid 1px #EDF5F4; }

.spacesBox img {
  width: 50vw;
  height: auto; }

.spaceDetailBtn {
  border-radius: 5px;
  background: #0fb6a8;
  border: none;
  height: 30px;
  width: 150px;
  margin: 0 0 1vh 0; }

.spaceDetailBtn:hover {
  background: #D9EBE9; }

.spaceDetailBtn a:hover {
  color: #cdcdcd; }

.spaceDetailBtn a {
  text-decoration: none;
  color: white; }

.booked {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start; }

.bookedBox {
  width: 28vw;
  margin: 15px 5px 0 5px;
  border: #cdcdcd solid 0.2px;
  box-shadow: 1px 1px 5px #cdcdcd;
  border-radius: 2px; }

.bookedMainTitle {
  font-size: 1.2rem;
  color: #484848; }

.bookedBox img {
  width: 100%;
  border-radius: 2px; }

.bookedBoxTitle {
  font-size: 0.8rem;
  margin: 0 0 0 5px;
  color: #484848; }

.bookedBox h1 {
  margin: 0 0 0 5px; }

.bookedBox h2 {
  font-size: 0.5rem;
  margin: 0 0 5px 5px;
  color: #484848; }

.spaceSearchRow {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.spaceSearch img {
  width: 30px;
  height: 30px; }

.spaceInput {
  height: 40px;
  width: 80%;
  border: #CDCDCD 1px solid;
  box-shadow: 1px 1px 6px #dddddd;
  text-indent: 10px; }

.mapSpace {
  width: 100%;
  height: auto;
  margin-top: 0;
  display: none; }

.spacesColRow {
  display: flex;
  flex-direction: column; }

@media (min-width: 500px) and (max-width: 650px) {
  .spacesBox img {
    width: 280px;
    height: auto; } }

@media (min-width: 651px) and (max-width: 766px) {
  .spacesBox img {
    width: 300px;
    height: auto; }
  .booked {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start; }
  .bookedBox {
    width: 20vw;
    margin: 15px 5px 0 5px;
    border: #cdcdcd solid 0.2px;
    box-shadow: 1px 1px 5px #cdcdcd; } }

@media (min-width: 767px) and (max-width: 961px) {
  .spacesColRow {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; }
  .spacesBox {
    display: flex;
    flex-direction: row;
    width: 92vw;
    height: auto;
    margin: 0 0 20px 0;
    border: solid 1px #EDF5F4; }
  .spacesBox img {
    width: 300px;
    height: auto; }
  .mapSpace {
    margin: 2vh 5vw 0 0;
    display: initial;
    height: 400px; }
  .cover {
    width: 92vw;
    object-fit: cover; }
  .booked {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start; }
  .bookedBox {
    width: 20vw;
    margin: 15px 5px 0 5px;
    border: #cdcdcd solid 0.2px;
    box-shadow: 1px 1px 5px #cdcdcd; } }

@media (min-width: 962px) and (max-width: 1024px) {
  .spacesColRow {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; }
  .spacesBox {
    display: flex;
    flex-direction: row;
    width: 92vw;
    height: auto;
    margin: 0 0 20px 0;
    border: solid 1px #EDF5F4; }
  .spacesBox img {
    width: 300px;
    height: auto; }
  .mapSpace {
    height: 400px;
    margin: 2vh 0 0 0;
    display: initial; }
  .cover {
    width: 92vw;
    object-fit: cover; }
  .booked {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start; }
  .bookedBox {
    width: 192px;
    margin: 15px 5px 0 5px;
    border: #cdcdcd solid 0.2px;
    box-shadow: 1px 1px 5px #cdcdcd; } }

@media (min-width: 1025px) {
  .spacesColRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .spacesBox {
    display: flex;
    flex-direction: row;
    width: 702px;
    height: auto;
    margin: 0 0 20px 0;
    border: solid 1px #EDF5F4; }
  .spacesBox img {
    width: 300px;
    height: auto; }
  .mapSpace {
    height: auto;
    margin: 2vh 5vw 0 2vw;
    display: initial; }
  .mapSpace img {
    height: 1160px; }
  .cover {
    width: 50vw;
    object-fit: cover; }
  .booked {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start; }
  .bookedBox {
    width: 192px;
    margin: 15px 5px 0 5px;
    border: #cdcdcd solid 0.2px;
    box-shadow: 1px 1px 5px #cdcdcd; } }

#map {
  height: 100%; }

#signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px; }

#signup-form input {
  border: 1px grey solid;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  text-indent: 10px;
  width: 400px;
  align-self: center; }

#signup-form button {
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 5px;
  background: #0fb6a8;
  color: white;
  font-weight: bold;
  border: none; }

#login {
  display: flex;
  width: 100vw;
  height: 100wh;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  align-items: center; }

#login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center; }

#login-form input {
  border: 1px grey solid;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  text-indent: 10px;
  width: 80%;
  align-self: center; }

#login-form button {
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 5px;
  background: #0fb6a8;
  color: white;
  font-weight: bold;
  border: none; }

.signup-container {
  display: flex;
  display: flex;
  width: 100vw;
  height: 100wh;
  justify-content: center; }

#login img {
  width: 220px;
  margin: 10px 0px; }

.testing-h2 {
  width: 400px;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 10px 0 20px;
  opacity: 0.7; }

.testing-span {
  background: #fff;
  padding: 0 10px; }

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menu a:hover {
  color: #0FB6A8; }

#menuToggle {
  display: block;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1; }

#nav {
  width: 100%;
  height: 70px;
  background-color: #d1f2ee;
  position: fixed;
  top: 0; }

#nav-transparent {
  width: 100%;
  height: 70px;
  background-color: none;
  position: fixed; }

.navLogo {
  margin: 12px 0 0 30px;
  position: absolute; }

.logo {
  width: 50px;
  height: auto; }

#navWide {
  width: 100%;
  height: 70px;
  background-color: #d1f2ee;
  position: fixed;
  top: 0;
  display: none;
  z-index: 2; }


#navWide-transparent {
  width: 100%;
  height: 70px;
  background-color: none;
  position: fixed;
  top: 0;
  display: none; }

.logIn, .signUp, .logIn2 {
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin-left: 10px; }

.logIn, .logIn2 {
  color: #0FB6A8;
  margin: 10px 10px 0 0; }

.signUp {
  color: white;
  border-radius: 5px;
  background-color: #0FB6A8;
  padding: 10px; }

.nav-login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 20px 0 0; }

.logIn:hover {
  color: #484848; }

.logIn2:hover {
  color: white; }

.signUp:hover {
  background-color: white;
  color: #484848;
  transition: 0.5s; }

@media (min-width: 651px) {
  #menuToggle {
    display: none; }
  #nav-transparent {
    display: none; }
  #nav {
    display: none; }
  #navWide-transparent {
    display: initial; }
  #navWide {
    display: initial; } }

.profilePicture {
  border-radius: 50%;
  width: 40vw;
  border: #EDF5F4 solid 2px; }

.profileColumn, .profileColumn1 {
  display: flex;
  flex-direction: column; }

.profileColumn1 {
  align-items: center; }

.profileColumn {
  align-items: center;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 90px; }

.profileColumn h1 {
  text-transform: uppercase;
  color: #0FB6A8; }

.profileBackground {
  background: linear-gradient(#D1F2EE 20%, white 20%);
  left: 0; }

.profileColumn1 img {
  margin: 0 2vw; }

.proButtons {
  border: #EDF5F4 solid 1px;
  border-radius: 20px;
  width: 70vw;
  height: 10vw;
  background: #0FB6A8;
  margin: 0 2vw; }

.proButtons a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold; }

.profileBooked {
  margin: 10px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw; }

.profileBookedBox {
  width: 100%;
  margin: 0 0 10px 0;
  box-shadow: 1px 1px 5px #EDF5F4;
  border: solid 1px #EDF5F4;
  border-radius: 2px;
  display: flex;
  flex-direction: row; }

.profileBookedBox img {
  height: 140px;
  margin: 0; }

.profileCover {
  width: 40%;
  object-fit: cover; }

.profileBookedColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.profileBookedBox h2 {
  font-size: 1rem;
  margin: 0 0 0 5px;
  color: #484848; }

.profileBookedBox h3 {
  font-size: 0.8rem;
  margin: 0 0 0 5px;
  color: #484848; }

.yourSpaceBox {
  width: 30%;
  box-shadow: 1px 1px 5px #cdcdcd; }

.yourSpaceBox img {
  width: 100%; }

.yourSpaceBox h2 {
  color: #484848;
  font-size: 1rem; }

.yourSpaceBox h3 {
  color: #484848;


body {
  font: 14px Helvetica;
  margin: 0 0; }

a {
  color: #00b7ff; }

.marginLR {
  margin: 0 4vw 0 4vw; }

.marker {
  background-image: url("/images/placeholder.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */