@import "index";
@import "spaces";
@import "form";
@import "nav";
@import "user";
@import "spacedetail";
@import 'spacecreate';
@import "confirmation";

body {
  font: 14px Helvetica;
  margin: 0 0;
}

a {
  color: #00b7ff;
}

.marginLR {
  margin: 0 4vw 0 4vw;
}

.marker {
  background-image: url('/images/placeholder.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
