@import "index";
@import "spaces";
@import "space-details";
@import "form";
@import "nav";


#signup-form{
  display: flex;
  flex-direction: column;
  text-align: center;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
