body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.indexImg {
  width: 100vw;
  height: auto; }

.indexColumn, .indexColumn2, .indexForm {
  display: flex;
  flex-direction: column;
  align-items: center
}

.indexColumn2 {
  width: 90vw; 
  height: auto;
  align-items: flex-start;
}

.indexForm {
  width: 90vw; 
  height: 15vh;
  align-items: center;
  justify-content: space-evenly;
}
.indexButton {
  width: 90vw;
  height: 5vh;
  background: #0FB6A8;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.indexInput {
  width: 90vw;
  height: 5vh;
  border: #EDF5F4 solid 1px;
  border-radius: 5px;
}
